
@{
    ViewBag.Title = "تنظیم ورژن نرم افزار";
    Layout = "~/Views/shared/_layout.cshtml";
}
@section viewsection{
<script src="~/Script/Pages/AppVersion.js"></script>
    }

<div class="col-lg-12 animatedParent animateOnce z-index-49">
    <div class="panel panel-default animated fadeInUp go">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">تنظیم ورژن و فایل نصبی نرم افزار موبایل</h3>
            
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="../AppVersion/RegisterAppVersion" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="Id"></label>
                    <div class="col-sm-5">
                        <input placeholder="Id" id="Id" name="Id" class="form-control" type="hidden">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="versioncode">کد ورژن</label>
                    <div class="col-sm-5">
                        <input placeholder="کد ورژن" id="versioncode" name="versioncode" class="form-control" type="text">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="versionname">نام ورژن</label>
                    <div class="col-sm-5">
                        <input placeholder="نام ورژن" id="versionname" name="versionname" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="version">برنامه</label>
                    <div class="col-sm-5">
                        <input  id="version" name="version" class="form-control" type="file">
                    </div>
                    <div id="divshowlabel">
                        
                    </div>
                </div>
                <div class="form-group form-action">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button class="btn btn-primary" type="submit">ثبت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
