@{
    ViewBag.Title = "مدیریت بخش خودرو ها و برندهای خودروساز";
    Layout = "~/Views/shared/_layout.cshtml";
}
@section viewsection{
<script src="~/Script/Pages/Cars.js"></script>
}
<div style="display:none;" id="Successful" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>موفق!</strong> عملیات با موفقیت انجام شد
</div>

<div style="display:none;" id="deleteinformation" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>حذف!</strong> حذف با موفقیت انجام شد
</div>

<div class="panel-body">

    <div class="row animatedParent animateOnce z-index-50">
        <div class="col-lg-12 animated fadeInUp">
            <h3 class="title">مدیریت بخش خودرو ها و برندهای خودروساز</h3>
        </div>
    </div>
    <div id="Carregister">

    </div>
    <div id="CarListregister">

    </div>
    <div class="row">
        <div class="col-lg-12 animatedParent animateOnce z-index-50">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <h3 id="TitlePage"></h3>
                    <button style="margin-right:20px;margin-bottom:20px;" id="btnRegisterCar" type="button" onclick="Carregisterform.reset()" class="btn btn-primary" data-toggle="modal" data-target="#CarregisterModal" data-backdrop="static">ثبت جدید</button>
                    <button style="margin-right:20px;margin-top:2px;" id="btnRegisterlist" type="button" onclick="CarListregisterform.reset()" class="btn btn-primary" data-toggle="modal" data-target="#CarListregisterModal" data-backdrop="static">ثبت جدید</button>
                    <button style="margin-right:700px;" id="btnReturn" type="button" class="btn btn-primary">بازگشت</button>
                </div>
                <div class="panel-body">
                    <div id="divcar" class="table-responsive">
                        
                    </div>
                    <div id="divcarlist" class="table-responsive">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
