
@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Views/shared/_layout.cshtml";
}
@section viewsection{
    <script src="~/Script/Pages/User.js"></script>
}
<div style="display:none;" id="noinformation" class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>توجه!</strong> اطلاعاتی موجود نیست
</div>

<div style="display:none;" id="Successful" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>موفق!</strong> عملیات با موفقیت انجام شد
</div>

<div style="display:none;" id="deleteinformation" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>حذف!</strong> حذف با موفقیت انجام شد
</div>

<div class="panel-body">
    <div class="row animatedParent animateOnce z-index-50">
        <div class="col-lg-12 animated fadeInUp">
            <h3 class="title">مدیریت کاربران</h3>
           
        </div>
    </div>
    <div id="UserRegister">
    </div>
    <div id="UserShowDetail">
    </div>
    <div class="row">
        <div class="col-lg-12 animatedParent animateOnce z-index-50">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <h3>اطلاعات</h3>



                    <button style="margin-right:20px;margin-bottom:20px;" id="btnRegisterUser" type="button" onclick="UserRegisterform.reset()" class="btn btn-primary" data-toggle="modal" data-target="#UserRegisterModal" data-backdrop="static"></button>
                    <button style="margin-right:20px;margin-bottom:20px;" id="btnUserShowDetail" type="button" onclick="UserShowDetailform.reset()" class="btn btn-primary" data-toggle="modal" data-target="#UserShowDetailModal" data-backdrop="static"></button>
                    <button type="button" class="btn btn-blue" id="btnuserRequest">نمایش درخواست مشتریان</button>
                    <button type="button" class="btn btn-blue" id="btnreturn">بازگشت</button>
                </div>
                <div class="panel-body">
                    <div id="divUser" class="table-responsive">
                    </div>
                    <div id="divuserrequest" class="table-responsive">

                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>


