
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}
@section viewsection{

    <script src="~/Script/Pages/UserReq.js"></script>
}

<div style="display:none;" id="Successful" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>موفق!</strong> عملیات با موفقیت انجام شد
</div>

<div style="display:none;" id="noinformation" class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>توجه!</strong> اطلاعاتی موجود نیست
</div>


<div id="DivUserReq" class="panel panel-body">

</div>
