
@{
    ViewBag.Title = "مدیریت محصولات مرتبط";
    Layout = "~/Views/shared/_layout.cshtml";
}

<script>
    window.onload = load;
    function load() {
        ShowGrid();
        ShowProductlist();
    }
    function ShowProductlist() {
        var _listProduct = JSON.parse('@Html.Raw( ViewBag.productlist)');
        var str = "";
        for (var i in _listProduct) {
            str += '<option value="' + _listProduct[i].Id + '">' + _listProduct[i].Display + '</option>';
        }
        IdProduct.innerHTML = str;
    }
    function ShowGrid() {
        var _lisrelativeproduct = JSON.parse('@Html.Raw(ViewBag.lisrelativeproduct)');
        _idproduct.value = _lisrelativeproduct[0].IdProduct_Master;
        TitlePage.innerHTML = "نام محصول : " + _lisrelativeproduct[0].MasterProductName;
       
        DataTable(_lisrelativeproduct, [
        { Data: "Id", Title: "Id" },
        { Data: "SalveProductName", Title: "نام محصولات مرتبط" }], divRelativeProduct,
        { RowNumber: true },
   [{ Text: "حذف", Icon: "remove", class: "btn btn-danger", event: DeleteRelativeProduct }]);
    }
    function DeleteRelativeProduct(id) {
        RelativeProductId.value = id;
        deleteRelativeProductform.submit();
        $(deleteinformation).fadeIn();
        $(deleteinformation).fadeOut(3000);

    }
    function FillGroupProduct() {

        var id = $('#IdProduct').val();
        $.ajax({
            type: "Post",
            url: "/RelativProduct/FillProductGroup",
            dataType: 'json',
            data: { id: id },
            success: function (data) {
                $('#IdProduct_Slave').empty();
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#IdProduct_Slave').append("<option value=" + data[i].Id + ">" + data[i].Display + "</option>");
                }
            }
        });

    }
    function BtnRegisterRelativeProduct() {
        RegisterRelativeProductForm.submit();
        $(Successful).fadeIn();
        $(Successful).fadeOut(3000);
    }
</script>
<form id="deleteRelativeProductform" action="/RelativProduct/DeleteRelativProduct" method="post">
    <input id="RelativeProductId" type="hidden" name="id" />
</form>

<div style="display:none;" id="Successful" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>موفق!</strong> عملیات با موفقیت انجام شد
</div>
<div style="display:none;" id="deleteinformation" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="font-size:20px">×</span>
    </button>
    <strong>حذف!</strong> حذف با موفقیت انجام شد
</div>
<a style="margin-bottom:10px;" href="~/Product/Index" class="btn btn-primary">بازگشت به صفحه محصولات</a>

<div class="panel panel-default table-responsive">
    <form style="margin-top:10px;" id="RegisterRelativeProductForm" action="/RelativProduct/RegisterRelativeProduct" method="post">
        <table>
            <tr>
                <td>
                    <input type="hidden" id="_idproduct" name="IdProduct_Master" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-right:10px;" for="IdProduct">نام گروه محصولات:</label>
                </td>
                <td>
                    <select style="margin-right:5px;" class="form-control" name="IdProduct" id="IdProduct" onchange="FillGroupProduct()"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="margin-top:10px;margin-right:10px;" for="IdProduct_Slave">نام محصولات:</label>
                </td>
                <td>
                    <select style="margin-top:10px;margin-right:5px;" class="form-control" id="IdProduct_Slave" name="IdProduct_Slave"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <button style="margin-right:10px;" class="btn btn-primary" type="submit" onclick="BtnRegisterRelativeProduct()">ثبت جدید</button>
                </td>
            </tr>
        </table>
    </form>

</div>



<div class="panel-body">
    <div class="row animatedParent animateOnce z-index-50">
        <div class="col-lg-12 animated fadeInUp">
            <div class="panle panel-default">
                <h3 style="margin-right:10px;" class="title">مدیریت محصولات مرتبط</h3>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-12 animatedParent animateOnce z-index-50">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <h3 id="TitlePage"></h3>

                </div>
                <div class="panel-body">
                    <div id="divRelativeProduct" class="table-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

